@model List<Blog>
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="Create blog">
        <a asp-action="Create" class="btn btn-success text-white" style="font-size:30px;widows:120px">+</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                Title
                    </th>

                     <th>
                 Description
                    </th>

                    <th>
                        Date
                    </th>

                    <th>
                       Image
                    </th>


                    <th>
                       Operation
                    </th>
                  
                </tr>
            </thead>
            <tbody>
              @foreach (var item in Model)
                {
                    <tr>
                        <td class="py-1">
                           @item.Title
                        </td>
                        <td>
                           @item.Description
                        </td>
                        <td>
                            "02.02.2028"
                        </td>
                        <td>
                            "blog-feature-img-4.jpg"
                        </td>
                        <td>
                            <a class="btn btn-info text-white" asp-action="Detail" asp-route-id="@item.Id"><i class="mdi mdi-information"></i></a>
                            <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@item.Id"><i class="mdi mdi-table-edit"></i></a>
                            <form class="forms-sample d-inline" method="post" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-danger text-white"><i class="mdi mdi-delete"></i></button>
                            </form>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

